<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div id="gridContainer" class="grid-3">
      {{#each collections.objects}}
      <a href="{{this.path}}">
        <div class="object">
              <!-- object 3d model-->
              <model-viewer src="../../glb/{{this.3d_model}}" loading="eager"></model-viewer>
              <div class="meta">
                <span>Artifact no.{{this.number}}</span>
                <h4>{{this.name}}</h4>
              </div>
        </div>
        </a>
      {{/each}}
  </div> <!-- end of wrapper -->

  <div class="menu-mobile" id="mobileMenu">
    <div class="menu-item">
      <div class="container-text">Menu</div>
      <img src="/imgs/close.png" alt="" onclick="closeMobileMenu()">
    </div>
    <div class="container-divider">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewBox="0 0 600 2" fill="none">
        <rect width="600" height="2" rx="1" fill="black" fill-opacity="0.05"/>
        </svg>
    </div>
    <div class="section-tabs">
      <span>Rotation</span>
      <div class="container-tabs">
        <div class="yes checkbox" onClick="enableRotate()">
          yes
          <img class="check hide" src="/imgs/check.svg" alt="">
        </div>
        <div class="no checkbox" onClick="disableRotate()">
          no
          <img class="check" src="/imgs/check.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container-divider"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewBox="0 0 600 2" fill="none">
      <rect width="600" height="2" rx="1" fill="black" fill-opacity="0.05"/>
      </svg></div>
    <div class="menu-item">
      <div class="container-text">About</div>
      <a href="landing_page.html"><img src="/imgs/next.png" alt="">
      </a>
    </div>
    <div class="container-divider">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewBox="0 0 600 2" fill="none">
        <rect width="600" height="2" rx="1" fill="black" fill-opacity="0.05"/>
        </svg>
    </div>
    <div class="container-link" id="closeMenu" onclick="closeMenu()">
      <span>Done</span>
    </div>
  </div>

  <div class="menu" id="menu">
    <div class="section-tabs">
      <span>Grid</span>
      <div class="container-tabs">
        <div id="grid3" class="checkbox" onclick="changeLayout(3)">
          3 in a row
          <img class="check" src="/imgs/check.svg" alt="">
        </div>
        <div id="grid5" class="checkbox" onclick="changeLayout(5)">
          5 in a row
          <img class="check hide" src="/imgs/check.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container-divider">
      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewBox="0 0 151 2" fill="none">
        <rect width="151" height="2" rx="1" fill="black" fill-opacity="0.05"/>
        </svg>
    </div>
    <div class="section-tabs">
      <span>Rotation</span>
      <div class="container-tabs">
        <div class="yes checkbox" onClick="enableRotate()">
          yes
          <img class="check hide" src="/imgs/check.svg" alt="">
        </div>
        <div class="no checkbox" onClick="disableRotate()">
          no
          <img class="check" src="/imgs/check.svg" alt="">
        </div>
      </div>
    </div>
    <div class="container-divider"><svg xmlns="http://www.w3.org/2000/svg" width="151" height="2" viewBox="0 0 151 2" fill="none">
      <rect width="151" height="2" rx="1" fill="black" fill-opacity="0.05"/>
      </svg></div>
    <div class="container-link" id="closeMenu" onclick="closeMenu()">
      <span>Done</span>
    </div>
  </div>

<div class="container-menu" id="menuButton">
    <div class="mobile-show" onclick="showMobileMenu()">
      Menu
    </div>
    <div class="menu-item mobile-hide"  onclick="showMenu()">
      <img src="/imgs/eye.svg" alt="" >
      <div class="container-text mobile-hide">
        <span>View</span>
        <img class="hide" src="/imgs/close.png" id="close-menu-icon" onclick="closeMenu()">
      </div>
    </div>
  <a class="mobile-hide" href="landing_page.html">
  <div class="menu-item">
    <div class="container-text">
      <span>About</span>
    </div>
  </div></a>
</div>

<a href="landing_page.html">
<div id="logo">
  <img src="/imgs/xinaliq.svg" alt="">
</div></a>

<script type="text/javascript">
  const d = document;

  function closeMenu() {
    d.getElementById('menu').style.visibility = 'hidden';
    d.getElementById('close-menu-icon').style.display = 'none';
  }

  function showMenu() {
    d.getElementById('menu').style.visibility = 'visible';
    d.getElementById('close-menu-icon').style.display = 'block';
  }

  function showMobileMenu() {
    d.getElementById('mobileMenu').style.visibility = 'visible';
    d.getElementById('menuButton').style.visibility = 'hidden';
  }
  function closeMobileMenu() {
    d.getElementById('mobileMenu').style.visibility = 'hidden';
    d.getElementById('menuButton').style.visibility = 'visible';
  }

  function enableRotate() {
    const models = d.getElementsByTagName('model-viewer');
    for (const m of models) {
      // add attribute: auto-rotate
      m.setAttribute("auto-rotate","");
    }
    d.getElementsByClassName("no")[0].getElementsByClassName('check')[0].classList.add("hide");
    d.getElementsByClassName("yes")[0].getElementsByClassName('check')[0].classList.remove("hide");
    d.getElementsByClassName("no")[1].getElementsByClassName('check')[0].classList.add("hide");
    d.getElementsByClassName("yes")[1].getElementsByClassName('check')[0].classList.remove("hide");
  }

  function disableRotate() {
    const models = document.getElementsByTagName('model-viewer');
    for (const m of models) {
      m.removeAttribute("auto-rotate");
    }
    d.getElementsByClassName("yes")[0].getElementsByClassName('check')[0].classList.add("hide");
    d.getElementsByClassName("no")[0].getElementsByClassName('check')[0].classList.remove("hide");
    d.getElementsByClassName("yes")[1].getElementsByClassName('check')[0].classList.add("hide");
    d.getElementsByClassName("no")[1].getElementsByClassName('check')[0].classList.remove("hide");
  }

  function changeLayout(n){
    const grid = document.getElementById('gridContainer');
    const grid3 = document.getElementById('grid3');
    const grid5 = document.getElementById('grid5');

    if (n == 3) {
      grid.classList.remove("grid-5");
      grid.classList.add("grid-3");
      grid5.getElementsByClassName('check')[0].classList.add("hide");
      grid3.getElementsByClassName('check')[0].classList.remove("hide");
    } else if (n == 5) {
      grid.classList.remove("grid-3");
      grid.classList.add("grid-5");
      grid3.getElementsByClassName('check')[0].classList.add("hide");
      grid5.getElementsByClassName('check')[0].classList.remove("hide");
    }
  }

</script>
  <script>
    self.ModelViewerElement = self.ModelViewerElement || {};
    self.ModelViewerElement.meshoptDecoderLocation = 'https://cdn.jsdelivr.net/npm/meshoptimizer/meshopt_decoder.js';
  </script>
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
</body>

</html>
